{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">
     <h1>SRX SKU Analysis</h1>
        <p class="lead">Test template to explore SRX SKU sales relationship with respects to different models, and regions in Q3 and Q4 2016.</p>
        <p><a class="btn btn-lg btn-success" href="https://www.github.com/andyleung/sku_visual" role="button">View source code</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4><a href="http://172.27.171.249:5000/pie">APAC Security Sales</a></h4>
          <p>Pie chart for security sales per region.</p>

          <h4><a href="http://172.27.171.249:5000/compareQ3branch">Q3 branch comparison</a></h4>
          <p>Comparison of new SRX300 models sales against older branch models (SRX 100, SRX200) in Q3 2016</p>

          <h4><a href="http://172.27.171.249:5000/compareQ4branch">Q4 branch comparison</a></h4>
          <p>Comparison of new SRX300 models sales against older branch models (SRX 100, SRX200) in Q4 2016</p>
        </div>

        <div class="col-lg-6">
          <h4><a href="http://172.27.171.249:5000/compare5K">SRX 5K sales</a></h4>
          <p>Comparison of new SRX5K sales in Q3 and Q4</p>

          <h4><a href="http://172.27.171.249:5000/compare1500">SRX1500 sales</a></h4>
          <p>Examine the growth of SRX1500 in 2nd hakf 2016</p>

          <h4><a href="http://172.27.171.249:5000/compare_midrange">SRX midrange sales</a></h4>
          <p>Examine the growth of SRX midrange platforms including SRX3K and SRX1K</p>
        </div>
      </div>

    </div> <!-- /container -->

{% endblock %}
